
.Home-Container{
    /* background-color : #111;
       background: linear-gradient(340deg, #4a1bd4, #4a1bd4);
       background-size: 400% 400%; */
    background-image: url('./bg.jpg');
    background-attachment: fixed;
    background-size:cover;
       color: #fff;
    height: 640px;
    padding-top: 240px;
    padding-bottom: 40px;
  }
  
  .Home-title {
    font-size: 2.5em;
    font-weight: 100;
  }
  
  .Home-intro {
    font-size: large;
  }
  
  