.UploadContainer{
  height: 300px;
  width: 100%;
  text-align: center;   

}

.imgContainer{
  width: 100%;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.imgPreview {
  text-align: center;
  margin: 5px 15px;
  height: 200px;
  width: 200px;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  border-top: 5px solid #808080;
  border-bottom: 5px solid #808080;
}
.imgPreview img {
  width: 100%;
  height: 100%;
}
.previewText {
  width: 100%;
  margin-top: 20px;
}
.submitButton {
  padding: 12px;
  margin-left: 10px;
  background: #fff;
  border: 4px solid #d3d3d3;
  border-radius: 15px;
  font-weight: 700;
  font-size: 10pt;
  cursor: pointer;
}
.submitButton:hover {
  background: #efefef;
}
.centerText {
  text-align: center;
  width: 500px;
}
