.LoginContainer{
    background-color:#dcdcdc;
    color : #000;
    text-align: center;
    height: 600px;
    padding-top:100px;
}
.LoginFormContainer{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}